<section id="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="site-name-logo-container">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
              </button>
                <div class="site-name-header">
                    <%= image_tag "site-name.png", class: "site-name" %>
                </div>
            </div>

            <form id="search-form" class="navbar-form" role="search">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term"
                        type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <% if logged_in? %>
              <button class="btn btn-dark d-inline-block d-lg-none" id="login-action-toggler"
                  type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fas fa-align-justify"></i>
              </button>
            <% else %>
              <%= button_tag id: "login-button", class: "btn btn-info d-inline-block" do %>
                <%= content_tag :span, "Đăng nhập" %>
              <% end %>
            <% end %>
        </div>
    </nav>
</section>
