<nav id="sidebar">
      <ul class="list-unstyled components" id="sidebar-body">
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-home"></i>
                  Quần
              </a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">Quần đùi</a>
                  </li>
                  <li>
                      <a href="#">Quần què</a>
                  </li>
                  <li>
                      <a href="#">Quần què</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-briefcase"></i>
                  About
              </a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-copy"></i>
                  Áo
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-image"></i>
                  Portfolio
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-question"></i>
                  FAQ
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-paper-plane"></i>
                  Contact
              </a>
          </li>
      </ul>
  </nav>
