<section id="page-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <div class="site-name-logo-container">
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
              </button>
              <div class="site-name-header">
                  <%= image_tag "site-name.png", class: "site-name" %>
              </div>
          </div>

          <form id="search-form" class="navbar-form" role="search">
              <div class="input-group add-on">
                  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term"
                      type="text">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                  </div>
              </div>
          </form>

          <!--   <button class="btn btn&#45;dark d&#45;inline&#45;block d&#45;lg&#45;none" id="login&#45;action&#45;toggler" -->
          <!--       type="button" data&#45;toggle="collapse" data&#45;target="#navbarSupportedContent" -->
          <!--       aria&#45;controls="navbarSupportedContent" aria&#45;expanded="false" aria&#45;label="Toggle navigation"> -->
          <!--           <i class="fas fa&#45;align&#45;justify"></i> -->
          <!-- </button> -->
          <button id="login-button" class="btn btn-info d-inline-block" data-toggle="modal"
              data-target="#loginModal">
          <span>Đăng nhập</span>
        </button>
      </div>
  </nav>
</section>